@page "{id:int}"
@inject IMealsService MealsService
@inject IMapper mapper;

@{
    ViewData["Title"] = "Details";
}

@{
    var id = int.Parse(RouteData.Values["id"].ToString());
    var item = mapper.Map<MenuItem>(MealsService.GetById(id));
}

<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="@item.Image" alt="@item.Name" style="width: 100%" />
                </li>
            </ul>
        </div>
        <div class="col-8">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3 class="font-weight-light">@item.Name</h3>
                </li>
                <li class="list-group-item">
                    <p>@item.Description</p>
                </li>
                <li class="list-group-item">
                    <h2 class="font-weight-bold">@Currency.AsRubles(item.Price)</h2>
                    <div class="d-flex justify-content-lg-end">
                        @if (item.InCart)
                        {
                            <input class="btn btn-sm btn-danger" type="button" value="Remove From Cart" onclick="removeFromCart(this,{id:@item.Id})">
                        }
                        else
                        {
                            <input class="btn btn-sm btn-success" type="button" value="Add To Cart" onclick="addToCart(this,{id:@item.Id})">
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>