@page "{id:int}"

@inject MediatR.IMediator Mediator

@{
    ViewData["Title"] = "Details";
}

@{
    var id = int.Parse(RouteData.Values["id"].ToString());
    var item = await Mediator.Send(new FoodMaster.WebSite.Queries.GetMealDetails.GetMealDetailsRequest { MealId = id });

    if(item is null)
    {
        RedirectToPage("NotFound");
    }
}

<div class="row justify-content-center">
    <div class="col-lg-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-light">
                <h3 class="display-4  text-center">@item.Name</h3>
            </li>
            <li class="list-group-item list-group-item-light">
                <h5 class="display-4  text-center" style="font-size: 2em">@Currency.AsRubles(item.Price)</h5>
            </li>
            <li class="list-group-item">
                @item.Description
            </li>
            <li class="list-group-item">
                <div>
                    <h5 class="font-italic">Ingredients</h5>
                    <ul class="list-inline">
                        @foreach (var ingredient in item.Ingredients)
                        {
                            <li class="list-inline-item">@ingredient</li>
                        }
                    </ul>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h5 class="font-italic">Calories</h5>
                    <em>@item.Calories&nbsp;KJ per 100g.</em>
                </div>
            </li>
            @if (!User.IsInRole("Admin"))
            {
            <li class="list-group-item">
                <div class="d-flex justify-content-center">
                    @if (item.InCart)
                    {
                        <a class="display-4 text-danger" style="font-size: 2em" onclick="removeFromCart(this,{id:@item.Id})">Deselect</a>
                    }
                    else
                    {
                        <a class="display-4 text-success" style="font-size: 2em" onclick="addToCart(this,{id:@item.Id})">Select</a>
                    }
                </div>
            </li>
            }
        </ul>
    </div>
</div>
