@page
@model IndexModel
@using FoodMaster.WebSite.Domain
@{
    ViewData["Title"] = "Home page";
}


@foreach (var group in Model.Menu)
{
    var category = @Enum.GetName(typeof(Category), group.Category);

    <h3 id="@category.ToLower()">@category</h3>

    <div class="card-columns">
        @foreach (var item in group.Menu)
        {
            <div class="card">
                <img src="@item.Image" style="width: 300px; height: 300px" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4 class="text-center">@Currency.AsRubles(item.Price)</h4>
                    </li>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-center">
                            @if (item.InCart)
                            {
                                <input class="btn btn-sm btn-danger" type="button" value="Remove" onclick="removeFromCart(this,{id:@item.Id})">
                            }
                            else
                            {
                                <input class="btn btn-sm btn-success" type="button" value="Add To Cart" onclick="addToCart(this,{id:@item.Id})">
                            }
                        </div>
                    </li>
                </ul>
                <div class="card-body d-flex justify-content-center">
                    <a href="#" class="card-link">See meal details</a>
                </div>
            </div>
        }
    </div>
    <br />
}