@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


@foreach (var menu in Model.Menu)
{

    <h3 id="@menu.Category.ToLower()">@menu.Category</h3>

    <div class="card-columns">
        @foreach (var item in menu.Meals)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Currency.AsRubles(item.Price)</h6>
                    <p class="card-text">@item.Description</p>
                    <a class="card-link" asp-area="" asp-page="Details" asp-route-id="@item.Id">See Details</a>
                    @if (!User.IsInRole("Admin"))
                    {

                        @if (item.InCart)
                        {
                            <a class="card-link text-danger" onclick="removeFromCart(this,{id:@item.Id})">Deselect</a>
                        }
                        else
                        {
                            <a class="card-link text-success" onclick="addToCart(this,{id:@item.Id})">Select</a>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <br />
}