@page "{orderId?}"

@model FoodMaster.WebSite.OrdersModel

@using FoodMaster.WebSite.Helpers
@using FoodMaster.WebSite.Extensions

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewData["Title"] = "Orders";
}

@if (!String.IsNullOrEmpty(RouteData.Values["orderId"]?.ToString()))
{
<h3>Order Details</h3>
<hr />

<div class="row">
    <div class="col">
        <h4 class="font-weight-light text-info text-center">Information</h4>
        <dl class="row">
            <dt class="col-sm-3">Order</dt>
            <dd class="col">@Model.Order.Id</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Date</dt>
            <dd class="col">@Model.Order.Date</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Client</dt>
            <dd class="col">@Model.Order.Client</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Address</dt>
            <dd class="col">@Model.Order.Address</dd>

        </dl>
        <dl class="row">
            <dt class="col-sm-3">Phone Number</dt>
            <dd class="col">@Model.Order.PhoneNumber</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Total Price</dt>
            <dd class="col">@Currency.AsRubles(Model.Order.Total)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Order Status</dt>
            <dd class="col">@Model.Order.Status.GetDescription()</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Comments</dt>
            <dd class="col">@Model.Order.Comments</dd>
        </dl>
    </div>
    <div class="col-6">
        <h4 class="font-weight-light text-info text-center">Meals</h4>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Order.Items)
                {
                    <tr>
                        <td scope="row">
                            <a asp-area="" asp-page="Details" asp-route-id="@item.Item.Id">@item.Item.Name</a>
                        </td>
                        <td>
                            @Currency.AsRubles(item.UnitPrice)
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @Currency.AsRubles(item.Price)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
}
else
{
<h3>Orders</h3>

<div class="row">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Full Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Orders.Any())
            {
            <tr>
                <td colspan="7">
                    <div class="d-flex justify-content-sm-center">
                        <em class="text-info">
                            You do not have any orders.
                        </em>
                    </div>
                </td>
            </tr>
            }
            else
            {
            foreach (var order in Model.Orders)
            {
            <tr>
                <td scope="row">@order.Date</td>
                <td>@order.Client</td>
                <td>@order.Address</td>
                <td>@order.PhoneNumber</td>
                <td>@Currency.AsRubles(order.Total)</td>
                <td>@order.Status.GetDescription()</td>
                <td>
                    <a asp-area="" asp-page="Orders" asp-route-orderId="@order.Id">See Details</a>
                </td>
            </tr>
            }
            }
        </tbody>
    </table>
</div>
}