@page
@model FoodMaster.WebSite.CartModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace FoodMaster.WebSite.Helpers
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Meals In Cart</h3>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Meal</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @if (Model.CartItems.Any())
                {
                <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td scope="row">
                            @item.Item.Name
                        </td>
                        <td scope="row">
                            <input type="number" asp-for="@item.Quantity" min="1" style="width:64px" oninput="updateItemQuantity(this, @item.Item.Id)" onkeydown="return false">
                        </td>
                        <td scope="row">
                            @Currency.AsRubles(item.Price)
                        </td>
                        <td>
                            <form class="form-inline" asp-area="Account" asp-page="Cart" asp-page-handler="DeleteItem">
                                <input type="hidden" name="itemId" value="@item.Item.Id" />
                                <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr class="table-active">
                        <th scope="colgroup" colspan="2">
                            <h5 class="text-right">Total</h5>
                        </th>
                        <th scope="colgroup" colspan="2">
                            <h5 id="totalPriceText" class="text-left">
                                @Currency.AsRubles(Model.CartItems.Sum(item => item.Price * item.Quantity))
                            </h5>
                        </th>
                    </tr>
                </tfoot>
                }
            </table>
        </div>
        <div class="col-4">
            <h3>Order Details</h3>
        </div>
    </div>

</div>
