@page

@model FoodMaster.WebSite.CartModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center">
    <div class="alert alert-success" role="alert">
        If your cart is complete you can submit an order by filling necessary details on the right and click Send Order.
    </div>
</div>
<div class="row">
    <div class="col-8">
        <h3>Cart</h3>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @if (Model.CartItems.Any())
            {
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td scope="row">
                                <a asp-area="" asp-page="Details" asp-route-id="@item.Item.Id">@item.Item.Name</a>
                            </td>
                            <td scope="row">
                                <input type="number" asp-for="@item.Quantity" min="1" style="width:64px" oninput="updateItemQuantity(this, @item.Item.Id)" onkeydown="return false">
                            </td>
                            <td scope="row">
                                @Currency.AsRubles(item.Price)
                            </td>
                            <td>
                                <form class="form-inline" asp-area="Account" asp-page="Cart">
                                    <input type="hidden" name="itemId" value="@item.Item.Id" />
                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="table-active">
                        <th scope="colgroup" colspan="2">
                            <h5 class="text-right">Total</h5>
                        </th>
                        <th scope="colgroup" colspan="2">
                            @if (Model.HasBirthDay)
                            {
                                <h5 id="totalPriceText" class="text-left" style="text-decoration: line-through">
                                    @Currency.AsRubles(Model.CartItems.Sum(item => item.Price * item.Quantity))
                                </h5>
                            }
                            else
                            {
                                <h5 id="totalPriceText" class="text-left">
                                    @Currency.AsRubles(Model.CartItems.Sum(item => item.Price * item.Quantity))
                                </h5>
                            }
                        </th>
                    </tr>
                    @if (Model.HasBirthDay)
                    {
                        <tr class="table-danger">                          
                            <th scope="colgroup" colspan="2">
                                <h5 class="text-right text-danger">Birthday Special</h5>
                            </th>
                            <th scope="colgroup" colspan="2">
                                <h5 id="totalDiscountPriceText" class="text-left text-dark">
                                    @Currency.AsRubles(Model.CartItems.Sum(item => (item.Price * 0.5m) * item.Quantity))
                                </h5>
                            </th>
                        </tr>
                    }
                </tfoot>
            }
        </table>
    </div>
    <div class="col-4">
        <h3>Order Details</h3>
        <form asp-area="Account" asp-page="Cart" asp-page-handler="SendOrder">
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.OrderDetails.FullName"></label>
                <input class="form-control" asp-for="@Model.OrderDetails.FullName" value="@Model.FullName">
                <small class="text-danger">
                    <span asp-validation-for="@Model.OrderDetails.FullName"></span>
                </small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.OrderDetails.Address"></label>
                <input class="form-control" asp-for="@Model.OrderDetails.Address">
                <small>
                    <span class="text-danger" asp-validation-for="@Model.OrderDetails.Address"></span>
                </small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.OrderDetails.PostalCode"></label>
                <input class="form-control col-md-4" asp-for="@Model.OrderDetails.PostalCode">
                <small><span class="text-danger" asp-validation-for="@Model.OrderDetails.PostalCode"></span></small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.OrderDetails.PhoneNumber"></label>
                <input class="form-control col-md-6" asp-for="@Model.OrderDetails.PhoneNumber">
                <small><span class="text-danger" asp-validation-for="@Model.OrderDetails.PhoneNumber"></span></small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.OrderDetails.Comments"></label>
                <textarea class="form-control" asp-for="@Model.OrderDetails.Comments"></textarea>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" asp-for="@Model.Confirmed" onchange="confirmOrder(this)">
                    <label class="form-check-label" asp-for="@Model.Confirmed"></label>
                    <small><span class="text-danger" asp-validation-for="@Model.Confirmed"></span></small>
                </div>
            </div>
            <input class="btn btn-info disabled" type="submit" id="sendOrder" value="Send Order" disabled="disabled" />
        </form>
    </div>
</div>
