@page

@model FoodMaster.WebSite.Areas.Account.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h1 class="display-4">Login as a guest</h1>
        </div>
        <p class="text-center font-italic text-danger">
            You must enter your full name and date of birth to proceed.
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <form method="post">
                <div class="form-group">
                    <label asp-for="@Model.GuestCredentials.FullName"></label>
                    <input class="form-control form-control-sm" asp-for="@Model.GuestCredentials.FullName" placeholder="Your full name">
                    <small class="text-danger"><span asp-validation-for="@Model.GuestCredentials.FullName"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.GuestCredentials.BirthDate"></label>
                    <input class="form-control form-control-sm" asp-for="@Model.GuestCredentials.BirthDate" placeholder="your birth date">
                    <small class="text-danger"><span asp-validation-for="@Model.GuestCredentials.BirthDate"></span></small>
                </div>
                <div class="form-group">
                    <div class="text-danger font-italic" asp-validation-summary="All"></div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input class="btn btn-success" type="submit" value="Proceed as Guest" />
                </div>
            </form>
        </div>
    </div>
</div>


