@page

@model FoodMaster.WebSite.Areas.Account.Pages.LoginModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col">
        <div class="text-center">
            <h1 class="display-4">Login as a guest</h1>
        </div>
        <p class="text-center font-italic text-danger">
            You must enter your full name and date of birth to proceed.
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <form asp-area="Account" asp-page="Login">
                <div class="form-group">
                    <label asp-for="@Model.Credentials.FullName"></label>
                    <input class="form-control form-control-sm" asp-for="@Model.Credentials.FullName" placeholder="Your full name">
                    <small class="text-danger"><span asp-validation-for="@Model.Credentials.FullName"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Credentials.BirthDate"></label>
                    <input class="form-control form-control-sm" asp-for="@Model.Credentials.BirthDate" placeholder="your birth date">
                    <small class="text-danger"><span asp-validation-for="@Model.Credentials.BirthDate"></span></small>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-sm btn-success" type="submit" name="login" value="Log In" />
                </div>
            </form>
        </div>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center">
            <form asp-area="Account" asp-page="Login" asp-page-handler="IdentityLogin">

            </form>
        </div>
    </div>
</div>

