@page

@model FoodMaster.WebSite.UserLoginModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <h1 class="display-4">Login with account</h1>
                </div>
                <p class="text-center font-italic text-danger">
                    You must enter account credentials to proceed.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="@Model.LoginCredentials.UserName"></label>
                            <input class="form-control form-control-sm" asp-for="@Model.LoginCredentials.UserName" placeholder="Your username">
                            <small class="text-danger"><span asp-validation-for="@Model.LoginCredentials.UserName"></span></small>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.LoginCredentials.Password"></label>
                            <input class="form-control form-control-sm" asp-for="@Model.LoginCredentials.Password" placeholder="Your password">
                            <small class="text-danger"><span asp-validation-for="@Model.LoginCredentials.Password"></span></small>
                        </div>
                        <div class="form-group">
                            <div class="text-danger font-italic" asp-validation-summary="All"></div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-success" type="submit" value="Log In" />
                            <a class="btn btn-outline-danger" asp-area="Account" asp-page="Register">Create Account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>