@page

@model FoodMaster.WebSite.CreateModel

@inject ICollection<FoodMaster.WebSite.Domain.Category> Categories

@{
    ViewData["Title"] = "Menus";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3 class="text-center">Create New Meal</h3>
<br />

<div class="row justify-content-center">
    <div class="col-lg-5">
        <form asp-area="" asp-page="Create">
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.Meal.Name"></label>
                <input class="form-control" asp-for="@Model.Meal.Name">
                <small class="text-danger"><span asp-validation-for="@Model.Meal.Name"></span></small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.Meal.Category"></label>
                <select class="form-control" asp-for="@Model.Meal.Category" asp-items="@Categories.Select(c => new SelectListItem(c.Name, c.Name)).ToArray()">
                </select>
                <small class="text-danger"><span asp-validation-for="@Model.Meal.Category"></span></small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.Meal.Price"></label>
                <input class="form-control col-4" asp-for="@Model.Meal.Price">
                <small class="text-danger"><span asp-validation-for="@Model.Meal.Price"></span></small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.Meal.Description"></label>
                <textarea class="form-control" asp-for="@Model.Meal.Description"></textarea>
                <small class="text-danger"><span asp-validation-for="@Model.Meal.Description"></span></small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.Meal.Ingredients"></label>
                <select class="form-control" multiple asp-for="@Model.Meal.Ingredients" asp-items="@Model.Ingredients.Select(ing => new SelectListItem(ing.Name, ing.Id.ToString()))"></select>
                <small class="text-success">Hold <kbd>Ctrl</kbd> key and click to multiselect.</small>
                <br />
                <small class="text-danger"><span asp-validation-for="@Model.Meal.Ingredients"></span></small>
            </div>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.Meal.Calories"></label>
                <input class="form-control col-4" asp-for="@Model.Meal.Calories">
                <small class="text-danger"><span asp-validation-for="@Model.Meal.Calories"></span></small>
            </div>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <input class="btn btn-lg btn-outline-success" type="submit" value="Create">
            </div>
        </form>
    </div>
</div>