@page "{orderId}"

@model FoodMaster.WebSite.OrderDetailsModel
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Order Details</h3>
<hr />

<div class="row">
    <div class="col">
        <h4 class="font-weight-light text-info text-center">Information</h4>
        <dl class="row">
            <dt class="col-sm-3">Order</dt>
            <dd class="col">@Model.Order.Id</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Date</dt>
            <dd class="col">@Model.Order.Date</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Client</dt>
            <dd class="col">@Model.Order.Client</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Address</dt>
            <dd class="col">@Model.Order.Address</dd>

        </dl>
        <dl class="row">
            <dt class="col-sm-3">Phone Number</dt>
            <dd class="col">@Model.Order.PhoneNumber</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Total Price</dt>
            <dd class="col">@Currency.AsRubles(Model.Order.Total)</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Order Status</dt>
            <dd class="col">@Model.Order.Status.GetDescription()</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-3">Comments</dt>
            <dd class="col">@Model.Order.Comments</dd>
        </dl>
    </div>
    <div class="col-6">
        <h4 class="font-weight-light text-info text-center">Meals</h4>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderItem in Model.Order.Items)
                {
                    <tr>
                        <td scope="row">
                            <a asp-area="" asp-page="Details" asp-route-id="@orderItem.Meal.Id">@orderItem.Meal.Name</a>
                        </td>
                        <td>
                            @Currency.AsRubles(orderItem.UnitPrice)
                        </td>
                        <td>
                            @orderItem.Quantity
                        </td>
                        <td>
                            @Currency.AsRubles(orderItem.Price)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
