@page

@model FoodMaster.WebSite.OrdersModel

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Orders</h3>

<div class="row">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Full Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Orders.Any())
            {
                <tr>
                    <td colspan="7">
                        <div class="d-flex justify-content-sm-center">
                            <em class="text-info">
                                You do not have any orders.
                            </em>
                        </div>
                    </td>
                </tr>
            }
            else
            {
                foreach (var order in Model.Orders)
                {
                    <tr>
                        <td scope="row">@order.Date</td>
                        <td>@order.Client</td>
                        <td>@order.Address</td>
                        <td>@order.PhoneNumber</td>
                        <td>@Currency.AsRubles(order.Total)</td>
                        <td>
                            <select asp-for="@order.Status" asp-items="@Html.GetEnumSelectList<OrderStatus>()"></select>
                        </td>
                        <td>
                            <a asp-area="Admin" asp-page="OrderDetails" asp-route-orderId="@order.Id">See Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
